*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background : radial-gradient(#5f5f5f , #000000);
    height: 100vh;
}

.rg-container{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}
.rg-first{
    width: 50%;
    background : url('../assets/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  0 20px 20px 0; 
    background-position: center;
}
.rg-second{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    align-items: center;
    padding-top: 100px;
    border-radius: 20px 0 0 20px;
    
}

.rg-second h1{
    margin-bottom: 30px;
    
}
.rg-container input{
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid gray;
    width: 60%;
    color: black;
}
.rg-container button{
    width: 40%;
    background-color:#25273c ;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    color: white;
}
.rg-second a{
    text-decoration: none;
    color: black;
}



